{% include 'head.html' %}

{% include 'header.html' %}

  <div class="container" id="main">
    <div class="page-header">
      <h2>About Vote&Uuml;</h2>
    </div>
    <div class="row">
      <span class="col-sm-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt, sem et accumsan dictum,
          lectus turpis semper elit, sit amet commodo urna dui ullamcorper felis.
          Nunc a ligula ac orci tincidunt placerat. Aenean sollicitudin ultricies convallis.
          Aliquam metus diam, pharetra vitae odio vel, ornare porttitor purus.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Cras interdum neque ac orci laoreet congue. Duis posuere vitae est sed sollicitudin.
          Maecenas congue tempus turpis vitae mollis. Donec sit amet purus dolor.
          Sed gravida lorem non justo maximus vestibulum. In et luctus tortor, eget feugiat magna.
        </p>
        <p>
          Nulla in risus dui. Duis dignissim eget ex vel elementum. In vestibulum sapien rhoncus,
          fermentum magna cursus, rutrum arcu. Sed dapibus magna eu purus viverra condimentum.
          Nunc ornare posuere luctus. Donec vitae magna felis. Suspendisse sagittis
          ullamcorper nibh et ullamcorper. Vestibulum ante ipsum primis in faucibus orci
          luctus et ultrices posuere cubilia Curae; Proin nulla lectus, blandit non sapien imperdiet,
          ornare ullamcorper nisi. Duis rutrum convallis velit vitae interdum. Quisque ut tortor scelerisque,
          lacinia purus eu, posuere nunc. Phasellus ultrices sed eros sed imperdiet.
          Vivamus quis nisi sit amet nisl fermentum ornare. Morbi cursus mi turpis, id accumsan orci blandit nec.
        </p>
        <p>
          Ut id nisl ac nulla placerat fermentum. Pellentesque maximus risus sit amet ligula pharetra,
          quis sollicitudin libero mattis. Donec laoreet auctor eros, a vestibulum mauris aliquam at.
          Cras hendrerit, mauris eget tincidunt lobortis, nisi lorem vulputate massa,
          id auctor orci elit vel urna. Integer interdum tellus ut erat elementum, id ullamcorper mi cursus.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Morbi maximus, metus a lacinia dapibus, arcu urna volutpat urna, eu interdum ligula arcu sit amet sem.
          Pellentesque feugiat quam in eros pharetra accumsan. Mauris ut sollicitudin erat.
        </p>
      </span>
    </div>
  </div>

{% include 'footer.html' %}
