{% include 'head.html' %}

{% include 'header.html' %}

  <div class="container" id="main">
    <div class="jumbotron" id="electionHeader">
      <h1 class="text-center">{{election.name}}</h1>
      <br>
      <span class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">About this Election:</div>
          <div class="panel-body">
              {{election.description}}
          </div>
        </div>
      </span>
      <div class="clearfix"></div>
    </div>
    <div class="col-sm-offset-2 col-sm-8">
      <p class="text-center">
        <b>Created by</b> {{election.ec.name}}
      </p>
      <hr>
      <p>
        Results will be available after the election closes.<br>
        Please select the bubble next to the choice you wish to cast you vote for{% if election.data.allowWriteIn %}, or write-in your own selection{% endif %}.<br>
        Still having issues? Please read our <a href="{{ urlFor('about') }}">FAQ</a>.
      </p>
      <h2>Races</h2>
      {% for race in election.data if race.raceName %}
        {% set raceID = loop.index %}
        <form class="raceForm" id="race:{{raceID}}">
          <div class="text-center">
            <h3>{{race.raceName}}</h3>
            {% if race.raceDesc %}<p>{{race.raceDesc}}</p>{% endif %}
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            {% for candidate in race.candidates %}
              <div class="radio">
                <label>
                  <input type="radio" name="race:{{raceID}}" value="candidate:{{loop.index}}" data-party="{{candidate.party}}">
                  {{candidate.name}} {% if candidate.party %}<span class="label" data-party="{{candidate.party}}">{{candidate.party}}</span>{% endif %}
                </label>
              </div>
            {% endfor %}
            {% if election.data.allowWriteIn %}
            <div class="form-group">
              <label>Optionally, Write-In</label>
              <input type="text" name="race:{{raceID}}" class="form-control">
            </div>
            {% endif %}
            <hr>
          </div>
        </form>
        <div class="clearfix"></div>
      {% endfor %}
      <div class="text-center">
        <button type="submit" class="btn btn-success" id="castVote">Cast Vote</button>
        <button type="reset" class="btn btn-danger">Cancel</button>
      </div>
    </div>
    <div class="hidden">
      {{election|json_encode()}}
    </div>
  </div>

{% include 'footer.html' %}
