<div id="adminPanel" class="hidden">
  {% if user.role == 1 %}
  <div>
    <div class="col-sm-4 well form-horizontal">
      <p class="text-center">
        Use this to purge elections from the system. Be careful, as this can orphan some votes and leave erroneous data.
      </p>
      <div class="form-group">
        <label for="elecPurgeID" class="col-sm-4 control-label">Election ID</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" placeholder="Election ID" id="elecPurgeID">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button class="btn btn-danger" id="elecPurge">
            <i class="glyphicon glyphicon-trash"></i> Purge
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-1 well form-horizontal">
      <p class="text-center">
        Use this to edit a specific user's data. Be careful as this injects data directly into the database.
      </p>
      <div class="form-group">
        <label for="editUserID" class="col-sm-4 control-label">User</label>
        <select name="editUserID">
          {% for u in users %}
          <option value="{{u.id}}" data-data="{{u.data|json_encode()}}" class="userDataOpt">{{u.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button class="btn btn-primary" id="editUserData">
            <i class="glyphicon glyphicon-edit"></i> Edit
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-sm-offset-1 well form-horizontal">
      <p>
        These are the faculty members our systems recognizes as verified by the Registrar.
      </p>
      <input type="text" value="Cindy Tanner, Bob Barker, Gordon Gee, Aaron Saas">
      <hr>
      <a href="" class="btn btn-primary"><i class="glyphicon glyphicon-download"></i>Download Archive</a>
    </div>
    <script type="text/javascript" defer>
    window.onload = function() {
      document.getElementById('elecPurge').onclick = function() {
        var id = document.getElementById('elecPurgeID').value;
        if (id.length != 0 || !isNaN(id)) {
          $.ajax({
            url: "{{ urlFor('purgeElection', {id: 'xx'})}}".replace('xx', id),
            method: 'DELETE'
          }).done(function(d) {
            console.log(d);
            alert(d.success ? 'Election purged' : ('Error: ' + d.message));
          });
        } else {
          alert('Please enter a valid election ID.');
        }
      };

      document.getElementById('editUserData').onclick = function() {
        var id = document.getElementsByName('editUserID')[0].value,
            userData = JSON.parse($('select[name="editUserID"] option[value="' + id + '"]').attr('data-data') || '{}');
        $('pre#userDataField').text(JSON.stringify(userData, null, 4));
        $('pre#userDataField').attr('data-userID', id);
        $('div#editUserDataModal').modal('toggle');
      };

      document.getElementById('saveUserData').onclick = function() {
        var dataField = document.getElementById('userDataField');
        user.edit(dataField.getAttribute('data-userID'), JSON.parse(dataField.innerText || '{}')).done(function(d) {
          alert(d.success ? 'This user\'s data has been edited. The page will now refresh to ensure data integrity.' : ('Error: ' + d.message));
          if (d.success) location.reload();
        });
        $('div#editUserDataModal').modal('toggle');
      };
    };
    </script>
  </div>
  <div class="clearfix"></div>
  <hr>
  {% endif %}
  <div>
    <h4>Manage Elections</h4>
    <div class="col-sm-10">
      <div class="table">
        <table class="table">
          <caption>
            <p>
              These are all elections currently in the system. From here, you can do stuff to said elections.
            </p>
            <p class="row">
              <ul class="list-inline">
                <li>
                  <span class="col-sm-2 bg-success">&nbsp;</span>
                  <span class="col-sm-offset-1">= Active</span>
                </li>
                <li>
                  <span class="col-sm-2 bg-info">&nbsp;</span>
                  <span class="col-sm-offset-1">= Finished</span>
                </li>
                <li>
                  <span class="col-sm-2 bg-danger">&nbsp;</span>
                  <span class="col-sm-offset-1">= Not Approved</span>
                </li>
              </ul>
            </p>
          </caption>
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Commissioner</th>
              <th>Debug</th>
            </tr>
          </thead>
          <tbody>
            {% for e in elections %}
            {% set ecUser, breakUser = {}, false %}
            {% for u in users if (u.id == e.ec.id and not breakUser) %}
              {% set ecUser, breakUser = u, true %}
            {% endfor %}
            <tr class="{{e.approved ? 'success' : 'danger'}}">
              <th scope="row">
                <span class="btn btn-xs btn-{{e.approved ? 'danger' : 'success'}}" data-{{e.approved ? 'remove' : 'approve'}}="{{e.id}}">
                  <i class="glyphicon glyphicon-{{e.approved ? 'remove' : 'ok'}}"></i>
                </span>
              </th>
              <td>{{e.id}}</td>
              <td><a href="{{ urlFor('election', {id: e.id}) }}">{{e.name}}</a></td>
              <td>{{e.description}}</td>
              <td>
                {{ecUser.name}}
                <span class="badge cursor-pointer hidden" data-ecEdit="{{e.id}}">
                  <i class="glyphicon glyphicon-edit"></i>
                </span>
              </td>
              <td>
                <i class="cursor-pointer glyphicon glyphicon-info-sign" data-debug="{{e|json_encode()}}"></i>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div>
    <h4>Manage Users</h4>
    <div class="col-sm-8">
      <div class="table-responsive">
        <table class="table">
          <caption>
            These are all users who have used the system. From here you can do things to said users.<br>
            NOTE: Users with the SuperAdmin or Admin role are not affected by any account flags.
          </caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Role</th>
              <th>Election<br>Commissioner</th>
              <th>Disqualified</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            {% for u in users %}
            <tr>
              <td scope="row">{{u.id}}</td>
              <td>{{u.name}}</td>
              <td>
              {% if u.role == 1 %}
                <span class="label label-danger">SuperAdmin</span>
              {% elseif u.role == 2 %}
                <span class="label label-primary">Admin</span>
              {% else %}
                <span class="label label-default">Student</span>
              {% endif %}
              </td>
              <td>
                <input type="checkbox" {{u.data.isEC ? 'checked'}} data-ec="{{u.id}}">
              </td>
              <td>
                <input type="checkbox" {{u.data.banned ? 'checked'}} data-dq="{{u.id}}">
              </td>
              <td>{{u.data|json_encode()}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="changeECmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <p>Please select a new election commissioner to assign to this election.</p>
            <div class="form text-center">
              <div class="form-group">
                <input type="hidden" name="changeECid">
                <select name="ecUsers">
                  {% for u in users %}
                  <option value="{{u.id}}">{{u.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                  <button class="btn btn-danger" id="changeEC">Change</button>
                </div>
              </div>
            </div>
            <br><br>
            <hr>
            <p>
              <b>Note:</b> This will only change this election's current election commisioner to your selection. The current election commissinoer will retain their "election commissioner" role. To remove this, use the tools in the dashboard.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="editUserDataModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <p>
              Please enter the new data for the user, then click Save.
            </p>
            <pre id="userDataField" contentEditable="true" data-userID=""></pre>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-8 col-sm-offset-2">
            <button class="btn btn-primary" id="saveUserData">
                <i class="glyphicon glyphicon-save"></i> Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
