{% include 'head.html' %}

{% include 'header.html' %}

  <div class="container" id="main">
    <div class="page-header">
      <h2>Welcome, {{ user.name }}</h2>
      <p>
        {% if user.role <= 2 %}
        Below you will find tools needed to administrate election comissioners{{user.role == 1 ? ', ' : ' and'}} active elections{{user.role == 1 ? ', and the system as a whole'}}.
        <span class="pull-right">
          <label class="checkbox-inline">
            <input type="checkbox" data-toggle="toggle" data-size="small" name="adminView"> Admin View
          </label>
        </span>
        {% endif %}
      </p>
    </div>
    <div id="studentPanel">
      <div>
        <h4>My Votes</h4>
        <div class="col-sm-8">
          <div class="table-responsive">
            <table class="table">
              <caption>
                These are all registered votes you've cast in the system. Once cast, your vote cannot be changed.
              </caption>
              <thead>
                <tr>
                  <th>Election</th>
                  <th>Time</th>
                  <th>Race</th>
                  <th>Your Vote</th>
                </tr>
              </thead>
              <tbody>
                {% for v in myvotes %}
                  {% set elec = {} %}
                  {% for e in elections if e.id == v.elecID %}
                    {% set elec = e %}
                  {% endfor %}
                  <tr>
                    <td>
                      <a href="{{ urlFor('election', {id: v.elecID}) }}">
                        {{elec.name}}
                      </a>
                    </td>
                    <td>{{v.time|date('M jS, Y \\a\\t g:ia')}}</td>
                    {% set elecRaces, r = elec.getRaces(), elecRaces[v.raceID] %}
                    <td>{{r.raceName}}</td>
                    <td>{{v.candidate == -1 ? v.data.writein : r.candidates[v.candidate].name}}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="4" class="text-center">
                      You haven't cast any votes yet. :( What're you waiting for, <a href="{{ urlFor('campaigns') }}">make a difference!</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% if user.role <= 2 %}
      {% include 'dashboard-admin.html' %}
    {% endif %}
  </div>

{% include 'footer.html' %}
