<footer class="container">
    <p class="pull-left">
      A product of The Team Formerly Known as Prince <img src="https://upload.wikimedia.org/wikipedia/en/a/af/Prince_logo.svg" height="16px">
    </p>
    <p class="pull-right">
      <a href="https://github.com/ItsTimaiFool/CS230Project">GitHub</a> | ver. 0.0.1~alpha
    </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://rawgit.com/js-cookie/js-cookie/master/src/js.cookie.js"></script>
<script src="https://rawgit.com/btmills/geopattern/master/js/geopattern.min.js"></script>
<script defer type="text/javascript">
  var sessid;
  $(function() {
    $("#header").geopattern("VoteÜ", {
      color: "#3498DB"
    });
  });

  function getSession() {
    //this is only for demonstration purposes
    sessid = prompt("Please enter your session ID.");
    if (sessid != '') {
      Cookies.set("sessid", sessid);
      location.reload();
    } else {
      alert("Error logging in user with session \"" + sessid + "\".");
    }
  }

  function clearSession() {
    Cookies.remove("sessid");
    location.reload();
  }
</script>
</body>

</html>
