<footer class="container">
  <p class="pull-left">
    A product of The Team Formerly Known as Prince
    <img src="https://upload.wikimedia.org/wikipedia/en/a/af/Prince_logo.svg" height="16px" onclick="swapColors();" style="cursor:pointer">
  </p>
  <p class="pull-right">
    <a href="https://github.com/ItsTimaiFool/CS230Project">GitHub</a> | ver. 0.0.1~alpha
  </p>
</footer>

{% if user.IsAdmin %}
<span class="hidden" id="pageDataDebug">{{_context|json_encode()}}</span>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/vote/js/bootstrap.min.js"></script>
<script src="https://rawgit.com/js-cookie/js-cookie/master/src/js.cookie.js"></script>
<script src="https://rawgit.com/btmills/geopattern/master/js/geopattern.min.js"></script>
<script type="text/javascript">
  var sessid, easterEgg = 1;
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();

    $(".modal input:checkbox,.modal label").on("click", function(e) {
      e.stopImmediatePropagation();
      var element = (e.currentTarget.hasOwnProperty('htmlFor')) ? e.currentTarget.htmlFor : e.currentTarget;
      var checked = (element.checked) ? false : true;
      element.checked = (checked) ? false : checked.toString();
    });

    $('[data-toggle="tooltip"]').tooltip();

    $('.label[data-party]').each(function() {
      $(this).css({
        'backgroundColor': GeoPattern.generate($(this).attr('data-party')).color
      });
    });

    $('#header').geopattern('VoteÜ', {
      color: '#3498DB'
    });

    if({{ election ? 'true' : 'false' }}) {
      $('#electionHeader').geopattern('{{election.name}}');
    }

    $('.nav > li > a[href!=#]').each(function() {
      if ($(this).attr('href') == location.pathname) $(this).parent().addClass('active');
    });

    var scripts = [];

    function scriptify(r, s) {
      return document.location.pathname.replace(r, s);
    }

    if (document.location.pathname.endsWith('create-ballot')) {
      scripts.push(scriptify(/\/dashboard(.*?)$/, "/js/create-ballot.js"));
    } else if (document.location.pathname.match(/\/campaign\/([0-9]+)\/?$/)) {
      scripts.push(scriptify(/\/campaign\/([0-9]+)\/?$/, "/js/cast-vote.js"));
    } else if (document.location.pathname.match(/\/campaign\/([0-9]+)\/results/)) {
      scripts.push(scriptify(/\/campaign\/([0-9]+)\/results.*$/, "/js/results.js"));
    } else if (document.location.pathname.match(/dashboard\/?$/)) {
      scripts.push(scriptify(/dashboard\/?$/ig, "js/dashboard.js"));
      {% if user.IsAdmin %}
      scripts.push(scriptify(/dashboard\/?$/ig, "js/dashboard-admin.js"));
      scripts.push('//gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js');
      scripts.push('//gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css');
      {% endif %}
    }

    console.log('loading: '+ scripts.toString());
    loadScripts(scripts);
  });

  function loadScripts(scripts) {
    for(var s of scripts) {
      if (typeof s == 'string') {
        var elm;
        if (s.endsWith('.js')) {
          elm = document.createElement('script');
          elm.type = 'text/javascript', elm.src = s;
        } else {
          elm = document.createElement('link');
          elm.rel = 'stylesheet', elm.href = s;
        }
        document.body.appendChild(elm);
      } else if (typeof s == 'object') {
        var k = Object.keys(s)[0], v = s[k];
        $.getScript(k).done(v);
      }
    }
  }

  var clippyCb = function() {
    clippy.load('Clippy', function(agent) {
      console.log(agent);
      agent.show();
      agent.speak('Hello, my name is Clippy. It seems like you have no clue what you are doing. Would you like some assistance casting a ballot?');
      $(document).on('click', 'img[onclick="swapColors();"]', function(){
        agent.hide();
      });
    });
  }

  function swapColors() {
    if (typeof clippy == 'undefined') {
      loadScripts(['//rawgit.com/smore-inc/clippy.js/master/build/clippy.css', {'//rawgit.com/smore-inc/clippy.js/master/build/clippy.min.js': clippyCb}]);
    } else if (easterEgg) {
      clippyCb();
    }
    $("*").not('[class*="clippy"]').each(function() {
      if (easterEgg) {
        $(this).css({
          'backgroundColor': GeoPattern.generate($(this).text()).color,
          'fontFamily': 'Comic Sans MS'
        });
      } else {
        $(this).attr('style', function() {
          return ($(this).attr('style') || '').replace(/(font-family|background-color): .*?;/ig, "");
        });
      }
    });
    if (easterEgg) {
      $('#header').geopattern();
    } else {
      $('#header').geopattern('VoteÜ', {
        color: '#3498DB'
      });
    }
    easterEgg = Number(!easterEgg);
  }

  function getSession() {
    //this is only for demonstration purposes
    sessid = prompt('Please enter your session ID.');
    if (sessid != '') {
      Cookies.set('sessid', sessid);
      location.reload();
    }
  }

  function clearSession() {
    Cookies.remove('sessid');
    location.reload();
  }

  function getFormData(form) {
    var unindexed_array = form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i) {
      if (n['name'].indexOf(':writein') != -1 && n['value'] == ''){
        return false;
      }
      if (n['name'] == 'restrictions') {
        indexed_array[n['name']] = $('[name="' + n['name'] + '"]').val();
      } else {
        indexed_array[n['name']] = isJsonStr(n['value']) ? JSON.parse(n['value']) : n['value'];
      }
    });

    return indexed_array;
  }

  function isJsonStr(str) {
    try {
      JSON.parse(str);
    } catch (e) {
      return false;
    }
    return true;
  }
</script>
</body>

</html>
