<footer class="container">
  <p class="pull-left">
    A product of The Team Formerly Known as Prince
    <img src="https://upload.wikimedia.org/wikipedia/en/a/af/Prince_logo.svg" height="16px" onclick="swapColors();" style="cursor:pointer">
  </p>
  <p class="pull-right">
    <a href="https://github.com/ItsTimaiFool/CS230Project">GitHub</a> | ver. 0.0.1~alpha
  </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/vote/js/bootstrap.min.js"></script>
<script src="https://rawgit.com/js-cookie/js-cookie/master/src/js.cookie.js"></script>
<script src="https://rawgit.com/btmills/geopattern/master/js/geopattern.min.js"></script>
<script type="text/javascript">
  var sessid, easterEgg = 1;
  $(function() {
    $(".modal input:checkbox,.modal label").on("click", function(e) {
      e.stopImmediatePropagation();
      var element = (e.currentTarget.hasOwnProperty('htmlFor')) ? e.currentTarget.htmlFor : e.currentTarget;
      var checked = (element.checked) ? false : true;
      element.checked = (checked) ? false : checked.toString();
    });

    $('[data-toggle="tooltip"]').tooltip();

    $('.label[data-party]').each(function() {
      $(this).css({
        'backgroundColor': GeoPattern.generate($(this).attr('data-party')).color
      });
    });

    $('#header').geopattern('VoteÜ', {
      color: '#3498DB'
    });

    if({{ election ? 'true' : 'false' }}) {
      $('#electionHeader').geopattern('{{election.name}}');
    }

    $('.nav > li > a[href!=#]').each(function() {
      if ($(this).attr('href') == location.pathname) $(this).parent().addClass('active');
    });

    var scripts = [];

    if (document.location.pathname.endsWith('create-ballot')) {
      scripts.push(document.location.pathname.replace(/\/dashboard(.*?)$/, "/js/create-ballot.js"));
    } else if (document.location.pathname.match(/\/campaign\/([0-9]+)\/?/)) {
      scripts.push(document.location.pathname.replace(/\/campaign\/([0-9]+)\/?$/, "/js/cast-vote.js"));
    } else if (document.location.pathname.match(/dashboard\/?$/)) {
      scripts.push(document.location.pathname.replace(/dashboard\/?$/ig, "js/dashboard.js"));
    }

    for(var s of scripts) $.getScript(s);
  });

  function swapColors() {
    $("*").each(function() {
      if (easterEgg) {
        $(this).css({
          'backgroundColor': GeoPattern.generate($(this).text()).color
        });
      } else {
        $(this).attr('style', function() {
          return $(this).attr('style').replace(/background-color: .*?;/ig, "");
        });
      }
    });
    easterEgg = Number(!easterEgg);
  }

  function getSession() {
    //this is only for demonstration purposes
    sessid = prompt('Please enter your session ID.');
    if (sessid != '') {
      Cookies.set('sessid', sessid);
      location.reload();
    }
  }

  function clearSession() {
    Cookies.remove('sessid');
    location.reload();
  }

  function getFormData(form) {
    var unindexed_array = form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i) {
      indexed_array[n['name']] = isJsonStr(n['value']) ? JSON.parse(n['value']) : n['value'];
    });

    return indexed_array;
  }

  function isJsonStr(str) {
    try {
      JSON.parse(str);
    } catch (e) {
      return false;
    }
    return true;
  }
</script>
</body>

</html>
