<div class="jumbotron" id="header">
  <div class="container text-center">
    <h1>Vote&Uuml;</h1>
    <h4>A vote
      <em style="text-shadow:2px 2px #2C3E50">for you</em>.
      <br>
      <small>Proud to provide to Morgantown U</small>
    </h4>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container">
    <ul class="navbar-nav nav navbar-left">
      <li>
        <a href="{{ urlFor('homepage') }}">Home</a>
      </li>
      <li>
        <a href="{{ urlFor('campaigns') }}">Campaigns</a>
      </li>
      <li>
        <a href="{{ urlFor('results') }}">Results</a>
      </li>
      <li>
        <a href="{{ urlFor('about') }}">About</a>
      </li>
    </ul>
    <ul class="navbar-nav nav navbar-right">
      {% if user is not empty %}
      <li id="userMenu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ urlFor('dashboard') }}">Dashboard</a></li>
          {% if user.data.isEC or user.role == 1 %}<li><a href="{{ urlFor('create.ballot')}}">Create Ballot</a></li>{% endif %}
          <li role="separator" class="divider"></li>
          <li><a href="javascript:clearSession()">Logout</a></li>
        </ul>
      </li>
      {% endif %}
      {% if user is empty %}
      <li id="loginLink">
        <a href="javascript:getSession()">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

{% if flash.error %}{% set error = flash.error %}{% endif %}

{% if error %}
<div class="container alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Error:</strong> {{error}}
</div>
{% endif %}
