{% include 'head.html' %}

{% include 'header.html' %}

  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <div class="container" id="main">
    <h2 id="tagline">Welcome <small>to Vote&Uuml;, a hypothetical voting system for Morgantown University with <em>your vote</em> in mind.<br>Still have questions? <a href="{{ urlFor('about') }}">Learn More</a></small></h2>
    <hr>
    <div class="row">
      <span class="col-sm-6">
        <h3>Current Campaigns</h3>
        <table class="table">
          <tbody>
          {% for election in elections %}
            <tr>
              <td><a href="{{urlFor('election', {'id': election.id})}}">{{election.name}}</a></td>
              <td>ends <script defer type="text/javascript">document.write(moment("{{election.time}}".split(" - ")[1]).fromNow());</script></td>
            </tr>
          {% else %}
          <img src="https://placehold.it/500x250?text=current campaigns here">
          {% endfor %}
          </tbody>
        </table>
      </span>
      <span class="col-sm-6">
        <h3>Recent Results</h3>
        <img src="https://placehold.it/500x250?text=recent results here">
      </span>
    </div>
  </div>

{% include 'footer.html' %}
